<!DOCTYPE html>
<html><head>
  <title>Photogram</title>
  <link rel="stylesheet" media="all" href="/assets/application-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css">
  <script src="/assets/application-10ae9348133c44590cf059bf8209124a94861ffcdd12b0642fc4b33b072cad4d.js"></script>
  <meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="l/N3bxEfESZ2+2pwFJLw/8qost4I5c2eSawr/6MG6eUQk+6unCrNbLnMZ5G1g3XcEU7avwsXGqcX0Eva1ur+Hw==">
</head>
<body>

<h1>Add A New photo</h1>

<form action="/create_photo">
  <div>
    <label for="photo_caption">Caption:</label>
    <input id="photo_caption" type="text" name="the_caption">
  </div>
  <div>
    <label for="photo_source">Image URL:</label>
    <input id="photo_source" type="text" name="the_source">
  </div>
  <div>
    <button>Create Photo</button>
  </div>
</form>


</body>

</html>
